:root {
	--france-blue: #000091;
	--france-white: White;
	--france-red: #e1000f;

	--clear-background-color: LightGreen;
	--clear-border-color: DarkGreen;
	--loading-background-color: LightGray;
	--loading-border-color: Gray;
	--default-background-color: LightGreen;
	--default-border-color: DarkGreen;
	--error-background-color: Yellow;
	--error-border-color: DarkOrange;
	--warning-background-color: Salmon;
	--warning-border-color: DarkRed;

	--button-hover-brightness-rate: 1.5;
	--code-div-border-size: 0.5ch;
	--code-div-min-height: 5em;
	--code-div-width: 40ch;
	--code-list-horizontal-gap: 2ch;
	--code-list-top-margin: 1em;
	--code-list-vertical-gap: 0.5em;
	--code-header-font-size: 1.25em;
	--code-header-bottom-margin: 0.25em;
	--delete-button-spacing: 1ch;
	--delete-icon-size: 1.25rem;
	--dismiss-icon-size: 1rem;
	--header-font-size: 1.5em;
	--horizontal-padding: 1ch;
	--icon-padding: 0.25em;
	--landscape-scan-panel-width: 75vw;
	--portrait-scan-panel-bottom-margin: 25%;
	--product-block-margin: 0.5em;
	--submitted-image-max-size: 50%;
	--subsequent-status-desc-gap: 2em;
	--title-size: 1.75rem;
	--vertical-padding: 0.5em;

}

html, #root, body {
	margin: 0;
	max-width: 100vw;
}

body {
	margin-bottom: var(--code-list-top-margin);
}

.solidBlueBackground {
	--div-background-blue-percentage: 75%;
	--div-background-color: color-mix(in srgb, var(--france-blue) var(--div-background-blue-percentage), var(--france-white));
	background-color: var(--div-background-color);
	--font-color: var(--france-white);
	color: var(--font-color);
}

header {
	font-weight: bold;
	position: sticky;
	top: 0;
	font-size: var(--header-font-size);
	display: flex;
	align-items: center;
	z-index: 1;
}

header a, footer a {
	color: var(--font-color);
}

header a {
	width: var(--title-size);
	height: var(--title-size);
}

#title {
	text-decoration: none;
	font-size: var(--title-size);
	margin: var(--vertical-padding) var(--horizontal-padding);
}

#title a {
	text-decoration: none;
}

#scanButton {
	cursor: pointer;
	background-color: var(--france-red);
	border-radius: var(--icon-padding);
	padding: 0.25em;
	border: none;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	aspect-ratio: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

#scanButton:hover {
	filter: brightness(var(--button-hover-brightness-rate));
}

#scanButton svg {
	width: 100%;
	aspect-ratio: 1;
	color: var(--france-white);
}

@keyframes darkPanelFadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.5;
	}
}

#panelDarkBackground {
	animation: darkPanelFadeIn 0.5s;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: Black;
	opacity: 0.5;
}

@media (orientation: portrait) {
	#scanPanel {
		margin-bottom: var(--portrait-scan-panel-bottom-margin);
	}
}
@media (orientation: landscape) {
	#scanPanel {
		max-width: var(--landscape-scan-panel-width);
		height: 100%;
	}
	#uploadInfo {
		max-width: 60%;
	}
}

#scanPanel {
	background-color: var(--france-white);
	position: fixed;
	z-index: 2;
	padding: var(--vertical-padding) var(--horizontal-padding);
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 0;
	right: 0;
}

#submittedImage {
	max-width: var(--submitted-image-max-size);
	max-height: var(--submitted-image-max-size);
}

#submittedImage[src] {
	margin: 0.75em 0;
}

#uploadField {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.codeList {
	display: grid;
	align-items: center;
	gap: var(--code-list-vertical-gap) var(--code-list-horizontal-gap);
	justify-content: space-around;
	margin-top: var(--code-list-top-margin);
	justify-items: center;
	grid-template-columns: repeat(1, 1fr);
	@media (max-width: 120ch) and (min-width: 80ch) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media (max-width: 160ch) and (min-width: 120ch) {
		grid-template-columns: repeat(3, 1fr);
	}
	@media (max-width: 200ch) and (min-width: 160ch) {
		grid-template-columns: repeat(4, 1fr);
	}
	@media (max-width: 240ch) and (min-width: 200ch) {
		grid-template-columns: repeat(5, 1fr);
	}
}

.codeStatus {
	display: flex;
	flex-flow: wrap;
	width: var(--code-div-width);
	min-height: var(--code-div-min-height);
	padding: var(--vertical-padding) var(--horizontal-padding);
	border: var(--code-div-border-size) solid var(--border-color, var(--default-border-color));
	border-radius: var(--code-div-border-size);
	background-color: var(--background-color, var(--default-background-color));
	justify-content: space-between;
	order: 3;
	align-content: flex-start;
	grid-row: span var(--grid-rows, 1);
}

#warningHeader, #errorHeader, #loadingHeader, #clearHeader {
	display: none;
	grid-column-end: -1;
}

.loading {
	order: 2 !important;
	--border-color: var(--loading-border-color);
	--background-color: var(--loading-background-color);
}
.warning {
	order: 1 !important;
	--border-color: var(--warning-border-color);
	--background-color: var(--warning-background-color);
}
.error {
	order: 2 !important;
	--border-color: var(--error-border-color);
	--background-color: var(--error-background-color);
}
.clear {
	order: 4 !important;
	--border-color: var(--clear-border-color);
	--background-color: var(--clear-background-color);
}
.clear .statusDesc {
	text-align: center;
}
.warning, .error, .loading, .clear  {
	grid-column-start: 1;
}
.warning ~ .warning  {
	grid-column-start: unset;
}
.error ~ .error  {
	grid-column-start: unset;
}
.loading ~ .loading  {
	grid-column-start: unset;
}
.clear ~ .clear  {
	grid-column-start: unset;
}

.codeHeader {
	margin-block-end: var(--code-header-bottom-margin);
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.codeDetails {
	width: 100%;
	order: 3;
}

.deleteButton {
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	padding: var(--icon-padding);
	border: none;
	background-color: var(--france-red);
	border-radius: var(--icon-padding);
	aspect-ratio: 1;
	height: 2em;
	margin-right: var(--delete-button-spacing);
	order: 1;
}

.deleteButton:hover {
	filter: brightness(var(--button-hover-brightness-rate));
}

.deleteButton svg {
	width: 100%;
	aspect-ratio: 1;
	color: var(--france-white);
}

.codeStatus[data-height="1"] {
	--grid-rows: 1;
}

.codeStatus[data-height="2"] {
	--grid-rows: 2;
}

.codeStatus[data-height="3"] {
	--grid-rows: 3;
}

.codeStatus[data-height="4"] {
	--grid-rows: 4;
}

.codeStatus[data-height="5"] {
	--grid-rows: 5;
}

.statusDesc {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.productImage {
	max-width: 100%;
	max-height: 100%;
	margin-block: var(--product-block-margin);
}

.recallTitle {
	display: flex;
	align-items: center;
	gap: var(--delete-button-spacing);
}

.recallReason {
	font-weight: bolder;
	order: 2;
}

.recallReason, .brandName {
	text-transform: uppercase;
}

.productName {
	text-transform: capitalize;
}

.manualInput select, .manualInput button {
	height: 100%;
}

.codeStatus .statusDesc:nth-child(n+3) {
	margin-top: var(--subsequent-status-desc-gap);
}

table {
	width: 100%;
}

td {
	text-align: center;
}

#manualForm {
	font-size: 1.25em;
	display: grid;
	grid-template-columns: max-content 1fr;
	column-gap: 1ch;
	row-gap: 0.25em;
}

#manualForm button {
	font-size: 1.25em;
	width: 100%;
	margin-top: 0.5em;
	grid-column: span 2;
}

.codeLabel {
	font-size: 2em;
	font-weight: bold;
	margin-block-start: 0;
	margin-block-end: 0;
	display: inline-block;
	order: 2;
}

.codeDesc {
	font-size: 0.75rem;
}

.codeList:has(.codeStatus) ~ #tutorial {
	display: none;
}

#tutorial {
	margin: 0 auto;
	width: max-content;
	max-width: 60vw;
}

#tutorial h3 span {
	font-weight: normal;
}

#uploadInfo {
	text-align: justify;
	text-wrap: balance;
}

.codeList:has(.codeStatus) ~ #installPrompt, .codeList:has(.codeStatus) ~ #notificationPrompt  {
	display: flex;
}

#installPrompt, #notificationPrompt {
	display: none;
	flex-flow: column;
	text-align: center;
	width: fit-content;
	margin: 0 auto;
	padding: 0.5em 1ch;
}

#installPrompt button, #notificationPrompt button {
	font-size: 1.25em;
	width: 100%;
}

#installPrompt p, #notificationPrompt p {
	margin-block-start: 0;
}

.dismissButton {
	display: inline-flex;
	align-items: center;
	padding: 0;
	background-color: Transparent;
	border: none;
	cursor: pointer;
	border-radius: var(--icon-padding);
	height: 1.5em;
	aspect-ratio: 1;
	order: 1;
}

.dismissButton:hover {
	filter: brightness(var(--button-hover-brightness-rate));
}

.dismissButton svg {
	width: 100%;
	aspect-ratio: 1;
	color: var(--france-white);
	filter: drop-shadow(3px 3px 1px Black);
}

.cameraDiv {
	display: flex;
	flex-flow: column;
	align-items: center;
}

.cameraDiv > video {
	max-width: 50vw;
	max-height: 25vh;
}

#scanPanelCloseButton {
	width: 3em;
	aspect-ratio: 1;
	border: none;
	padding: 0;
	background-color: Transparent;
	position: absolute;
	right: var(--horizontal-padding);
	cursor: pointer;
}

#scanPanelCloseButton:hover {
	filter: brightness(var(--button-hover-brightness-rate));
}

#scanPanelCloseButton svg {
	color: var(--france-blue);
	width: 100%;
}

.fullInfoLink {
	font-weight: bold;
	margin-block-start: 0.25em;
	color: var(--france-blue);
}